<div id="itemListHasil" class="container my-4">
  <div class="position-relative">
    <div class="dr-tape-back bg-secondary position-absolute m-0 p-0" style="top: -6px; left: -4px"></div>
    <div
      class="dr-tape bg-info position-absolute text-center d-flex align-items-center justify-content-center m-0 p-0"
      style="top: -6px; left: -4px; z-index: 3"
    >
      <div class="container-fluid">Free protection</div>
    </div>
    <!-- card -->
    <div class="card" style="border-radius: 8px">
      <div class="card-body text-center text-md-start pb-3">
        <div class="row h-100">
          <!-- maskapai -->
          <div class="col-md-4 pt-4 pb-3 pb-md-5">
            <div class="container d-flex flex-wrap flex-column flex-shrink-1 p-0">
              <div
                class="container d-flex align-items-center justify-content-center align-items-md-start justify-content-md-start p-0"
              >
                <img
                  id="logoMaskapai"
                  src="https://placebear.com/24/24"
                  alt="company-logo"
                  width="24"
                  height="24"
                  class="d-inline-block align-text-top rounded float-start"
                />
                <span id="nameMaskapai" class="fw-semibold fs-5 mx-2">Maskapai</span>
              </div>
            </div>
          </div>

          <!-- estimasi -->
          <div
            class="col-md-6 d-flex align-items-center justify-content-center align-items-md-start justify-content-md-start flex-nowrap flex-grow-1"
          >
            <div class="container-fluid">
              <div class="row">
                <div class="col text-center d-flex align-items-center">
                  <div class="container p-0">
                    <div id="fromTime">17:30</div>
                    <div id="fromCode" class="btn btn-light" style="border-radius: 24px">CGK</div>
                  </div>
                </div>
                <div class="col text-center d-flex align-items-center">
                  <div class="container p-0">
                    <div id="estTime">2h 30m</div>
                    <div class="d-flex align-items-center justify-content-center m-0">
                      <div class="dr-circle align-self-start"></div>
                      <div class="dr-line flex-grow-1"></div>
                      <div class="dr-circle-filled align-self-end"></div>
                    </div>
                    <div id="transferCount">Langsung</div>
                  </div>
                </div>
                <div class="col text-center d-flex align-items-center">
                  <div class="container p-0">
                    <div id="destTime">19:00</div>
                    <div id="destCode" class="btn btn-light" style="border-radius: 24px">SUB</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card end -->
  </div>
</div>
